.container0{
    display: flex;
    justify-content:center;

}
.container1{
    display: flex;
    flex-direction: column;
    margin:40px 10px 0 0;
}
.box1{
    margin:0 0 10px 0;
    padding: 10px;
    font-size: 15px;
    border-radius: 10px;
}
 .box1 img{
    width:40px;
    height:40px;
    object-fit: cover;
    border-radius: 10px;
} 
#container2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:grey;
}
#container2 #prev
{
    width:640px;
    height:860px;
    object-fit: cover;
    border-radius: 5px;
}
